.tokenDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 60px;
  padding: 12px;
  border-radius: 12px;
  background-color: lightblue;
}
.tokenDiv > p {
  margin-left: 6px;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 16px;
}

.replace {
  transition: width 2s, height 4s;
}

.inputField > input {
  padding: 2px;
  border-radius: 8px;
}
